{% extends "base.html" %}

{% block styling %}
{% endblock %}

{% block content %}
<div class="container">
    <header class="content-text">
        <h1><strong>Meta-Pawn</strong></h1>
        <p>Data based metagame analysis of chess.</p>
    </header>

    <body>
        <h2>Win Rate of openings by colour for elo ~1000:</h2>

<!--        TODO fix this so it shows tables correctly-->
<!--        <table class="table">-->
<!--            <thead>-->
<!--                <tr>-->
<!--                    <th></th>-->
<!--                </tr>-->
<!--            </thead>-->
<!--            {% for chesstable in chesstable %}-->
<!--            {{ chesstable|safe }}-->
<!--            {% endfor %}-->
<!--        </table>-->
    </body>
</div>
{% endblock %}