{% extends "stats/index.html" %}

{% block styling %}
{% endblock %}

{% block deepContent %}
    <div class="container">

        <!-- Navbar-->
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Meta-Pawn</a>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav me-auto mb-2 mb-md-0">
                        <li class="nav-item">
                            <a class="nav-link"
                               href="{{ url_for('stats.alternative_elo_page') }}">Opening Suggestion</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"
                               href="{{ url_for('stats.opening_suggester_page') }}">Advanced Suggestion</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page"
                               href="{{ url_for('stats.opening_explorer') }}">Opening Explorer</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"
                               href="{{ url_for('stats.png_plot') }}">Top Openings</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <header class="content-text">
            <h1><strong>Opening Explorer</strong></h1>
            <p>This table has win rate data on all the openings in the dataset. Explore using the search and ordering
                functionalities at your leisure!</p>
        </header>

        <body>

        <!-- Display the dynamically updating table element -->
        <table class="display" id="dynamic_chess_table" style="width:100%">
            <thead>
            <tr>
                {% for column in columns %}
                    <th>{{ column }}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for row in rows %}
                <tr>
                    {% for cell in row %}
                        <td>{{ cell }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <!-- Script which enables searching table -->
        {% block script %}
            <!-- Include necessary CSS and JavaScript for DataTables plugin -->
            <link href="{{ url_for('static', filename='pkg/DataTables/datatables.min.css') }}" rel="stylesheet">
            <script src="{{ url_for('static', filename='pkg/DataTables/datatables.min.js') }}"></script>
            <script>
                $(document).ready(function () {
                    $('#dynamic_chess_table').DataTable();
                });
            </script>
        {% endblock %}
        </body>
    </div>
{% endblock %}