{% extends "stats/index.html" %}

{% block styling %}
{% endblock %}

{% block deepContent %}
    <div class="container">

        <!-- Navbar-->
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Meta-Pawn</a>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav me-auto mb-2 mb-md-0">
                        <li class="nav-item">
                            <a class="nav-link"
                               href="{{ url_for('stats.opening_suggester_page') }}">Opening Suggestion</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"
                               href="{{ url_for('stats.alternative_elo_page') }}">Alternative Opening Suggestion</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page"
                               href="{{ url_for('stats.placeholder_name') }}">Placeholder Name</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"
                               href="{{ url_for('stats.png_plot') }}">PNG Plot 1</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <header class="content-text">
            <h1><strong>Placeholder Name</strong></h1>
            <p>This table displays something else.</p>
        </header>

        <body>
        <!-- Display header with dynamically updating elo value -->
        <h3 id="eloHeader">Select an elo:
            <output id="eloOutput">1500</output>
        </h3>
        <input type="range" class="form-range" min="1000" max="2000" step="100" id="eloInputRange">

        <div class="btn-group" role="group">
            <input type="radio" class="btn-check" name="btn-radio" id="white-btn" autocomplete="off" checked>
            <label class="btn btn-outline-dark" for="white-btn">White</label>

            <input type="radio" class="btn-check" name="btn-radio" id="black-btn" autocomplete="off">
            <label class="btn btn-outline-dark" for="black-btn">Black</label>
        </div>

        <input type="button" class="btn btn-dark" value="Refresh Table" id="refresh_button">

        <!-- Display the dynamically updating table element -->
        <table class="table table-dark table-hover table-striped" id="dynamic_chess_table">
            <thead>
            <tr>
                {% for column in columns %}
                    <th>{{ column }}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for row in rows %}
                <tr>
                    {% for cell in row %}
                        <td>{{ cell }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <!-- Script which enables dynamic updating of both header and table with slider value -->
        {% block script %}
            <script>
                {#<!-- This block handles updating the slider value display -->#}
                $(function () {
                    $("#eloInputRange").on('input', function (e) {
                        document.getElementById('eloOutput').innerHTML = e.target.value;
                    });
                });

                <!-- This part updates the table when the refresh button is clicked -->
                $("#refresh_button").on("click", function () {
                    var elo = document.getElementById('eloOutput').innerHTML,
                        whiteStatus = document.getElementById('white-btn').checked;
                    $.ajax({
                        type: 'GET',
                        url: $SCRIPT_ROOT + "/_update_placeholder_name",
                        data: {
                            elo,
                            whiteStatus
                        },
                        dataType: 'json'
                    }).then(function (data) {
                        document.getElementById('dynamic_chess_table').innerHTML = refreshHtmlTable(data)
                    });
                });

                {# Generate the innerHTML which represents the new table #}

                function refreshHtmlTable(newTable) {
                    var newInnerHTML = "",
                        columns = Object.keys(newTable);

                    newInnerHTML += "<tr>";
                    for (var i = 0; i < columns.length; ++i) {
                        newInnerHTML += "<th>" + columns[i] + "</th>";
                    }
                    newInnerHTML += "</tr>";

                    newInnerHTML += "<tbody>";
                    for (var i = 0; i < Object.values(newTable[columns[0]]).length; ++i) {
                        newInnerHTML += "<tr>";
                        for (var key in newTable) {
                            var cellValue = newTable[key][i];
                            newInnerHTML += "<td>" + cellValue + "</td>";
                        }
                        newInnerHTML += "</tr>";
                    }
                    newInnerHTML += "</tbody>";
                    return newInnerHTML;
                }
            </script>
        {% endblock %}
        </body>
    </div>
{% endblock %}